<launch>
    <!-- connect_type: TCP/SERIAL -->
    <arg name="connect_type" default="TCP"/>
    <arg name="ip" default="192.168.1.200"/>
    <arg name="port" default="3001"/>

    <node name="novatel_span_driver" pkg="novatel_span_driver" type="driver" output="screen">
        <param name="connect_type" value="$(arg connect_type)"/>
        <param name="ip" value="$(arg ip)"/>
        <param name="port" value="$(arg port)"/>
        <rosparam ns="configuration">
            log_request:
                inscovsb: 1
                bestposb: 0.1
                corrimudatasb: 0.05
                inspvasb: 0.02
            command:
                applyvehiclebodyrotation: disable
                inswheelupdate: enable
        </rosparam>

        <!--                 
                       inscovb: 1
                bestposb: 0.1
                corrimudatab: 0.05
                inspvaxb: 0.02
            inscovb: 1
		applyvehiclebodyrotation: disable
                inswheelupdate: enable
        Whether or not the driver should publish a TF, and what frames it should
             be between. This configuration publishes odom -> base_link. -->
        <param name="publish_tf" value="true"/>
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        <param name="base_frame" value="base_link"/>

        <!-- IMU rate; controls scaling of the imu/data topic values. This is a
             function of the underlying hardware IMU rate, which is 100Hz for IMU-CPT. -->
        <param name="rate" value="125"/>

        <!-- Disable this if you don't want SPAN to use wheel encoder data. Remap the odom
             topic if your encoders publish elsewhere. -->
        <param name="enable_wheel_velocity" value="true"/>
        <param name="pacmod_wheel" value="true"/>
        <remap from="odom" to="/pacmod/as_tx/vehicle_speed"/>

        <!-- Disable this if you'd like the Odometry to be absolute within the UTM zone
             rather than starting from an arbitrary zero origin. -->
        <param name="zero_start" value="true"/>
    </node>
    
    <param name="/scenario" value="none"/>
    <param name="/vehicle/steering_ratio" type="double" value="25.6"/>
    <param name="/vehicle/control_rate" type="double" value="30.0"/>
    <param name="/vehicle/max_steering" type="double" value="11.0"/>
    <param name="/vehicle/max_steering_rate" type="double" value="4.0"/>
    <param name="/vehicle/wheelbase" type="double" value="5.81"/>
    <param name="/vehicle/front_edge" type="double" value="1.35"/>
    <param name="/vehicle/back_edge" type="double" value="1.85"/>
    <param name="/vehicle/width" type="double" value="2.42"/>
    <param name="/vehicle/trailer_wheelbase" type="double" value="7.8"/>
    <param name="/vehicle/trailer_front_edge" type="double" value="1.35"/>
    <param name="/vehicle/trailer_back_edge" type="double" value="1.5"/>
    <param name="/vehicle/max_lat_accel" type="double" value="2.5"/>
    <param name="/vehicle/max_long_decel" type="double" value="2.0"/>
    <param name="/vehicle/max_long_accel" type="double" value="0.6"/>
    <param name="/vehicle/stanley_kp" type="double" value="0.6"/>
    <!--<node pkg="tf" type="static_transform_publisher" name="map2odom" args="1 0 0 0 0 0 1 map odom 100" /> -->
</launch>
